<h1>Simple Blog Posts</h1>
<!-- Looping all the posts -->
<% @posts.each do |post| %>
	<div class="well">
		<h3><%= post.title %></h3>
		<p><%= post.body %></p>
		<%= link_to "Read More", post_path(post),  :class => 'btn btn-primary' %>
	</div>
<% end %>